/*
* Color
*/


/*
* Background color
*/

.bg-base-color {
    background-color: #009cdb !important;
}


/*
* Border color
*/

.border-base-color {
    border-color: #009cdb !important;
}


/*
* Button color
*/

.btn-base-color {
    background-color: #009cdb !important;
}


/*
* Button color - hover
*/

.btn-hover-base-color:hover {
    background-color: #009cdb !important;
}


/*
* Features Block
*/

.features-block:before {
    background: -moz-linear-gradient(top, rgba(0, 156, 219, 0) 0%, rgba(0, 156, 219, 0.9) 15%, rgba(0, 156, 219, 0.9) 85%, rgba(0, 156, 219, 0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 156, 219, 0)), color-stop(15%, rgba(0, 156, 219, 0.9)), color-stop(85%, rgba(0, 156, 219, 0.9)), color-stop(100%, rgba(0, 156, 219, 0)));
    background: -webkit-linear-gradient(top, rgba(0, 156, 219, 0) 0%, rgba(0, 156, 219, 0.9) 15%, rgba(0, 156, 219, 0.9) 85%, rgba(0, 156, 219, 0) 100%);
    background: -o-linear-gradient(top, rgba(0, 156, 219, 0) 0%, rgba(0, 156, 219, 0.9) 15%, rgba(0, 156, 219, 0.9) 85%, rgba(0, 156, 219, 0) 100%);
    background: -ms-linear-gradient(top, rgba(0, 156, 219, 0) 0%, rgba(0, 156, 219, 0.9) 15%, rgba(0, 156, 219, 0.9) 85%, rgba(0, 156, 219, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 156, 219, 0) 0%, rgba(0, 156, 219, 0.9) 15%, rgba(0, 156, 219, 0.9) 85%, rgba(0, 156, 219, 0) 100%);
}
.features-block:hover .block-icon {
    background-color: #009cdb;
}
.features-block:hover .block-icon i {
    color: #ffffff;
}
.features-block .block-icon {
    border: 1px solid #009cdb;
}
.features-block .block-icon i {
    color: #009cdb;
}


/*
* Flickity
*/

.carousel-custom .flickity-page-dots .dot.is-selected {
    background: #009cdb;
}


/*
* Heading style
*/

.title-underline-base-color {
    border-color: #009cdb;
}
.title-underline-thick-base-color {
    border-color: #009cdb;
}
.title-sideline-base-color:before {
    background-color: #009cdb;
}


/*
* Preloader
*/

.pace .pace-progress {
    background-color: #009cdb;
}


/*
* Text color
*/

.text-base-color {
    color: #009cdb !important;
}

/*
* Text color (hover)
*/

.text-hover-base-color:hover {
    color: #009cdb !important;
}


/*
* Timeline
*/

