body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;

}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.nav {
    padding-top: 10px;
    padding-bottom: 20px;
}

.nav>li>a {
  font-weight: bold;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #FECA3A;
}

.footer {
  padding-top: 50px;
  color: #777;
  padding-bottom: 620px;
}

.lead {
  max-width: 700px;
  margin: 0 auto;
}
h1, h2 {
  font-family: 'Lobster', sans-serif;
}

h1 {
  font-size: 48px;
}
a, a:hover, a:focus {
  color: #33589F;
}

.container-narrow > hr {
  margin: 30px 0;
}
.hero {
  text-align: center;
  background: transparent url('../images/stockholm_city_hall.jpg') top right no-repeat;
  height: 578px;
  padding-top: 20px;
  margin-bottom: 20px;
  color: #FFF;
  text-shadow: 1px 1px #666;
}

.hero p {
  padding: 10px 0;
}

.hero a {
  color: #FFF;
}


.btn {
  background-color: #33589F;
  border: none;
}

.btn-lg {
  font-weight: bold;
}

.btn:hover, .btn:focus {
  background-color: #FECA3A;
  color: #33589F;
}

.center {
  text-align: center;
}

ul.social {
  width: 280px;
  margin: 0 auto;
  height: 50px;
  list-style: none;
}

ul.social li {
  width: 250px;
  margin: 5px auto;
}

.sponsors {
  text-align: center;
  padding-top: 50px;
}

.follow {
  margin-top: 20px;
}

.form-inline {
  display: inline-block;
}

@media screen and (min-width: 457px) {
  .hero {
    padding-top: 120px;
  }
  .follow {
    margin-top: 50px;
  }
}
@media screen and (min-width: 497px) {
  .nav {
    padding-bottom: 0;
  }
  .header {
    text-align: left;
  }

}
@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
  ul.social {
    width: 380px;
  }
  ul.social li {
    float: left;
    margin: 10px 0;
    width: 110px;
  }
}