body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;

}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  margin-bottom: 20px;
}

.nav {
    padding-top: 10px;
}

.nav>li>a {
  font-weight: bold;
}

.nav>li>a:hover, .nav>li>a:focus {
  background-color: #FECA3A;
}

.footer {
  padding-top: 19px;
  color: #777;
}

h1, h2 {
  font-family: 'Lobster', sans-serif;
}

h1 {
  font-size: 48px;
}
a, a:hover, a:focus {
  color: #33589F;
}

@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}
.hero {
  text-align: center;
  background: transparent url('../images/stockholm_city_hall.jpg') top right no-repeat;
  height: 578px;
  padding-top: 120px;
  margin-bottom: 20px;
  color: #FFF;
  text-shadow: 1px 1px #666;
}

.hero p {
  padding: 10px 0;
}

.btn {
  background-color: #33589F;
  border: none;
}

.btn-lg {
  font-weight: bold;
}

.btn:hover, .btn:focus {
  background-color: #FECA3A;
  color: #33589F;
}

.center {
  text-align: center;
}

ul.social {
  width: 380px;
  margin: 0 auto;
  height: 50px;
}

ul.social li {
  float: left;
  width: 110px;
}

@media screen and (min-width: 768px) {
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}