.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-5xnr{background-color:#D0E0E3;text-align:left;vertical-align:bottom}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-u4kt{color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-7zrl{text-align:left;vertical-align:bottom}
.tg .tg-6xtm{background-color:#D9EAD3;color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-0qou{background-color:#D9EAD3;text-align:left;vertical-align:bottom}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-lxsh{background-color:#D0E0E3;text-align:left;vertical-align:top}

.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-uszq{background-color:#ffffff;border-color:inherit;color:#000000;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-qnro{border-color:inherit;color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-q2wx{background-color:#D9EAD3;border-color:inherit;color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-kwiq{border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tg .tg-hle0{background-color:#ffffff;border-color:inherit;color:#000000;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-k0is{background-color:#D0E0E3;border-color:inherit;color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-f3dy{background-color:#D0E0E3;border-color:inherit;color:#000000;text-align:left;vertical-align:top}
.tg .tg-u4kt{color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-6xtm{background-color:#D9EAD3;color:#000000;text-align:left;vertical-align:bottom}
.tg .tg-9j5h{background-color:#D0E0E3;color:#000000;text-align:left;vertical-align:bottom}

